@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
$dark: rgb(23, 23, 23);
$neonNain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);
.setting__loader__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.setting-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .setting-main {
    display: flex;
    flex-direction: row;
    height: 100%;

    .setting-main-container {
      display: flex;
      flex-direction: column;
    }

    .setting-main-content {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
    .setting-chat {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      .setting-info {
        height: 100%;
      }
      form {
        height: 100%;
      }
      .setting__loader__container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      .setting-card {
        // border: 1px solid blueviolet;
        margin: 30px;
        flex: 0.5;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .form__input {
          position: absolute;
          left: -999px;
          width: 1px;
          height: 1px;
          opacity: 0;
          visibility: hidden;
        }
        .form__label {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          background: $neonNain;
          border-radius: 20px;
          cursor: pointer;
          transition: all 0.2s ease-in;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 5px;
          }
        }

        h3 {
          color: rgb(172, 172, 172);
          font-family: "Monoton", cursive;
          font-weight: lighter;
        }

        .setting-nickname {
          font-family: "Monoton", cursive;
          animation: flicker 4s linear infinite;
          font-weight: lighter;
          color: $neonNain;
          font-size: 20px;
          margin-bottom: 15px;
        }

        .setting-status {
          font-family: "Poppins", sans-serif;
          font-weight: 100;
          color: rgb(172, 172, 172);
          text-align: justify;
          margin: 0 40px;
          padding: 0 20px;
          height: 20%;
          transition: all 0.4s ease-in-out;
          text-align: center;

          textarea {
            resize: none;
            width: 80%;
            height: 80%;
            outline: none;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: transparent;
            color: rgb(172, 172, 172);
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            margin-top: 20px;

            &:is(:focus, :valid) {
              border-color: rgb(172, 172, 172);
            }

            &::-webkit-scrollbar {
              display: none;
            }

            &::spelling-error {
              display: none;
            }
          }
        }

        .setting-status p {
          color: rgb(172, 172, 172);
          font-family: "Poppins", sans-serif;
          font-weight: 100;
          font-size: 15px;
        }

        .setting-status:hover {
          transform: scale(1.05);
        }
      }

      .setting-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .setting-infomation h2 {
          font-family: "Monoton", cursive;
          color: rgb(172, 172, 172);
          font-weight: lighter;
          font-size: 50px;
        }

        .setting__form {
          position: relative;

          .setting__input {
            top: 0;
            left: 0;
            position: absolute;
            border: 1px solid rgb(172, 172, 172);
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
            font-size: inherit;
            color: rgb(172, 172, 172);
            outline: none;
            width: 70%;
            padding: 0.5rem 1rem;
            background: none;

            &:hover {
              border-color: $neonNain;
            }
            &:focus {
              border-color: $neonSer;
            }
          }
          .setting__lable {
            position: absolute;
            left: 1rem;
            top: 0.8rem;
            color: $title;
            cursor: text;
            padding: 0 4px;
            transition: top 200ms ease-in, left 200ms ease-in,
              font-size 200ms ease-in;
            background-color: $dark;
          }

          .form__input_err {
            color: red;
          }

          .setting__input:focus ~ .setting__lable,
          .setting__input:not(:placeholder-shown).setting__input:not(:focus)
            ~ .setting__lable {
            top: -0.5rem;
            font-size: 0.8rem;
            left: 0.8rem;
          }
        }
        .form {
          position: relative;
          width: 20rem;
          height: 3rem;
          margin: 20px 0;

          &__input {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid rgb(172, 172, 172);
            border-radius: 50px;
            font-family: "Poppins", sans-serif;
            font-size: inherit;
            color: rgb(172, 172, 172);
            outline: none;
            padding: 1.25rem;
            background: none;
            transition: all 0.2s ease-in;

            &:hover {
              border-color: $neonNain;
              box-shadow: 0 0 5px rgb(163, 16, 255);
            }

            /* Change border when input focus*/

            &:focus {
              border-color: $neonNain;
              box-shadow: 0 0 5px rgb(163, 16, 255);
            }
          }

          &__label {
            position: absolute;
            left: 1rem;
            top: 0.7rem;
            padding: 0 0.1rem;
            color: rgb(172, 172, 172);
            cursor: text;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            transition: top 200ms ease-in, left 200ms ease-in,
              font-size 200ms ease-in;
            background-color: $dark;
          }
        }

        .form__input:focus ~ .form__label,
        .form__input:not(:placeholder-shown).form__input:not(:focus)
          ~ .form__label {
          top: -0.5rem;
          font-size: 0.8rem;
          left: 0.9rem;
          color: $neonNain;
          text-shadow: 0 0 5px rgb(163, 16, 255);
        }
      }
    }
    .setting-button {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      padding: 0.5em 1.5em;
      border: 1px solid $title;
      background: transparent;
      border-radius: 50px;
      color: $title;
      margin-top: 8px;
    }

    .passwordok {
      margin-top: 5px;
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-size: 15px;
      color: transparent;
    }

    .test-conponent {
      .passwordnotok {
        margin-top: 5px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-size: 15px;
      }
      .setting-button-err {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        padding: 0.5em 1.5em;
        border: 1px solid $title;
        background: transparent;
        border-radius: 50px;
        color: $title;
        margin-top: 8px;
        transition: all 0.2s ease-in;
      }
      .setting-button-err:hover {
        border: 1px solid rgb(255, 57, 57);
        filter: drop-shadow(1px 1px 2px rgb(252, 6, 6));
      }
    }

    .setting-button:hover {
      border: 1px solid $neonNain;
      filter: drop-shadow(1px 1px 2px $neonSer);
    }
    .setting-sidebar {
      flex: 1;
      margin-left: 10px;
      box-shadow: 3px 3px 15px black;
    }
  }

  // input[type="file"]::file-selector-button {
  //   padding: 10px 10px;
  //   border-radius: 50px;
  //   border: none;
  //   color: $title;
  //   text-transform: uppercase;
  //   letter-spacing: 3px;
  //   font-size: 10px;
  //   cursor: pointer;
  //   background-color: transparent;
  //   border: 1px solid $title;
  //   transition: all 0.5s ease-in-out;
  // }

  .form__text {
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    color: $title;
    margin-right: 5px;
    cursor: pointer;
    pointer-events: none;
  }

  .form__icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    color: $title;
    cursor: pointer;
  }
}
