.server__container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .server__nav {
    width: 100%;
    height: 150px;
  }

  .server__main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
    padding: 20px 10rem 40px;

    .server__main-container {
      display: flex;
      flex-direction: column;
      width: 76%;
    }

    .server__main-header {
      box-shadow: -1px 1px 15px black;
      margin-bottom: 10px;
    }
    .server__main-content {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
      .server__chat {
        flex: 1;
        height: 100%;
        width: 100%;
        box-shadow: -2px 2px 15px black;
        display: flex;
        flex-direction: column;
        align-items: center;

        .server__search {
          width: 90%;
        }
        .server__roomcard {
          width: 90%;
        }
      }
    }

    .server__sidebar {
      flex: 1;
      margin-left: 10px;
      box-shadow: 3px 3px 15px black;
    }
  }
}
