.server__room__big__container {
  display: flex;
  width: 100%;
  justify-content: center;

  .server__room__container {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 66%;

    .room__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 73%;
      margin-right: 2em;

      .server__room__header__container {
        height: 75px;
        width: 100%;
        background: transparent;
        text-align: center;
      }
      .roomLists__container {
        height: 555px;
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 5px;
      }
    }

    .side__bar__container {
      flex: 1;
    }
  }
}
