.roomLists__container{
    height: 100vh;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    gap: 0.3em;
    align-items: center;
    color: white;
    // border: 1px solid olivedrab;
}