.server__room__container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.room__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}
.server__room__header__container{
    height: 75px;
    width: 100%;
    background: transparent;
    text-align: center;
}
.roomLists__container{
    height: 555px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 5px;
}