@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
$dark: rgb(23, 23, 23);
$neonNain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.server__search__container {
  display: flex;

  justify-content: flex-end;
  .search__container {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      font-family: "Poppins", sans-serif;
      font-weight: 100;

      background: transparent;
      border: none;
      border-bottom: 1px solid $title;
      color: $title;
      height: 28px;
    }
    input:focus {
      outline: none;
    }
  }

  button {
    cursor: pointer;
    display: inline-flex;
    background: transparent;
    border: none;
  }
  .server__search__icon {
    color: $title;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
  }

  .server__search__icon:hover {
    color: $neonNain;
    filter: drop-shadow(0px 0px 2px $neonSer);
  }
}
