@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.new__msg__alarm {
  width: 10px;
  height: 10px;
  background: rgba(255, 0, 0, 0.695);
  border-radius: 50px;
}
.messagelist {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .userInfo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .m__avatar__container {
      display: flex;
      align-items: center;

      .m__avatar {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        position: relative;
      }
    }
  }
  .latest__message__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 45px;

    .m__name {
      width: 100%;
      white-space: nowrap;
      color: $title;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
      }
    }
    .latest__message__content {
      white-space: nowrap;
      font-family: "Poppins", sans-serif;
      overflow: hidden;
      font-size: 12px;
      text-overflow: ellipsis;
      color: rgb(108, 108, 108);
      font-weight: 100;
      width: 130px;
    }
  }
}
