@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);
.messagelist {
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem;
  margin-bottom: 1rem;
  &:hover {
    background: rgb(94, 94, 94);
    border-radius: 2rem;
    cursor: pointer;
  }
  .userInfo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .m__avatar__container {
      display: flex;
      align-items: center;
      .m__avatar {
        width: 35px;
        height: 35px;
        border-radius: 50px;
        position: relative;
      }
    }
  }
  .latest__message__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    left: calc(0.3rem + 35px + 3rem);
    height: calc(35px + 0.6rem);
    .m__name {
      width: 100%;
      white-space: nowrap;
      color: white;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
      }
    }
    .latest__message__content {
      white-space: nowrap;
      // font-family: "Poppins", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70px;
      color: gray;
    }
  }
}
