@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");
$dark: rgb(23, 23, 23);
$neonNain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.server__room__header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  gap: 1em;
  margin: 10px 0;

  .headCount__container {
    color: $title;
  }

  .back__icons {
    position: absolute;
    left: 0;
    cursor: pointer;
    align-items: center;
    margin: 0 10px;
    display: flex;
    color: $title;

    // &:hover {
    //   color: $neonSer;
    // }
  }

  .headCount__container {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin-left: 10px;
  }
  .nerdtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin-left: 10px;
  }
  .create__room {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding: 0.5em 1.5em;
    border: 1px solid $title;
    background: transparent;
    border-radius: 50px;
    color: $title;
    margin-right: 10px;
  }

  .create__room:hover {
    border: 1px solid $neonNain;
    filter: drop-shadow(1px 1px 2px $neonSer);
  }
}
