$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);
.room__setting__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  margin-top: 1em;

  .room__title__container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    input {
      height: 25px;
    }
    label {
      margin-top: 1em;
      text-align: left;
    }
  }
  .max__container {
    .headcount__input__container {
      display: flex;
      gap: 1em;
      input {
        width: 75%;
      }
    }
  }
  .room__err__container {
    color: rgb(199, 71, 71);
    text-align: center;
  }
  .create__container {
    display: flex;
    justify-content: center;

    button {
      position: relative;
      padding: 0.5rem 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 100;

      border: 1px solid $title;
      background: transparent;
      border-radius: 50px;
      color: $title;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.98);
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $neonSer;
        top: 100%;
        left: 0;
        transition: all 0.6s;
        z-index: -3;
      }
      &:hover::before {
        transform: translateY(-100%);
      }

      &:hover {
        color: white;
      }
    }
  }
}
