$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.current__container {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .current__time {
    margin-right: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $title;
    font-size: 12px;
  }

  .current__name {
    font-family: "Monoton", cursive;
    color: $title;
    font-size: 15px;
    padding: 0 10px;

    .onlines {
      justify-content: center;
      align-items: center;
      color: rgba(141, 211, 0, 0.729);
      margin-left: 3px;
    }
  }
}

.current__body-container {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.797);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .current__body {
    font-size: 16px;
    padding: 10px 25px;
    margin: 15px 5px 0px;
    border-radius: 20px;
    background-color: rgba(12, 12, 12, 0.715);
  }
}

.user__container {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .user__name {
    font-family: "Monoton", cursive;
    color: $title;
    font-size: 15px;
    padding: 0 10px;

    .onliness {
      justify-content: center;
      align-items: center;
      color: rgba(141, 211, 0, 0.729);
      margin-right: 3px;
    }
  }
  .user__time {
    margin-left: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $title;
    font-size: 12px;
  }
}

.user__body-container {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.797);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .user__body {
    font-size: 16px;
    padding: 10px 25px;
    margin: 15px 5px 0px;
    border-radius: 20px;
    background-color: rgba(87, 87, 87, 0.284);
  }
}

// .messageBox {
//   font-family: "Poppins", sans-serif;
//   display: inline-block;
//   max-width: 80%;
//   background-color: transparent !important;
// }

// .messageText {
//   font-family: "Poppins", sans-serif;
//   width: 100%;
//   letter-spacing: 0;
//   float: left;
//   font-size: 1.5em;
//   word-wrap: break-word;
//   padding: 4px 20px;
//   border-radius: 50px;
//   background-color: rgb(152, 108, 206);
// }

// .messageContainer {
//   display: flex;
//   color: transparent;
//   padding: 0 3%;
//   margin-top: 3px;
// }

// .sentText {
//   font-family: "Poppins", sans-serif;
//   display: flex;
//   align-items: center;
//   font-size: 11px;
//   color: $title;
//   letter-spacing: 0.3px;
// }

// .pl-10 {
//   // margin-left: 10px;
//   // margin-bottom: 2px;
//   display: flex;
//   margin-left: 4px;
// }

// .colordd {
//   color: aliceblue;
// }

// .pr-10 {
//   padding: 0 0 0 5px;
//   margin-right: 4px;
//   // margin-left: 33px;
//   // margin-bottom: 2px;
// }

// .justifyStart {
//   justify-content: flex-start;
// }

// .justifyEnd {
//   justify-content: flex-end;
// }

// .colorWhite {
//   color: white;
// }

// .colorDark {
//   color: white;
//   background-color: rgba(182, 182, 182, 0.243);
// }

// .right {
// }
// .left {
// }
