@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

@import "_color";

%align-center {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav {
  background: $dark;
  position: fixed;
  width: 100%;

  &_bar {
    position: relative;
    display: flex;
    max-width: calc(100% - 400px);
    margin: 0 auto;
    height: 70;
    align-items: center;
    justify-content: space-between;
  }

  &_container {
    color: $neonNain;
    font-family: "Dosis", sans-serif;
    display: flex;
    @extend %align-center;
  }

  &_logo {
    display: flex;
    flex-direction: row;
  }

  &_logo a {
    cursor: pointer;
    stroke: $neonNain;
    stroke-width: 3;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    animation: flicker 2s linear infinite;
    filter: drop-shadow(1px 1px 2px $neonSer);
    fill: transparent;
    @extend %align-center;
  }

  //   &_logo span {
  //     font-family: "Monoton", cursive;
  //     filter: drop-shadow(0 0 2px $neonSer);
  //     animation: flicker 2s linear infinite;
  //     font-size: 20px;
  //     margin: auto 10px;
  //   }

  &_links {
    margin-left: 40px;
    display: flex;
    list-style: none;
  }

  &_links li a {
    color: $neonNain;
    opacity: 0.3;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 100;
    // filter: drop-shadow(0 0 1px $neonSer);
    margin: 0 10px;
    transition: all 0.2s ease-in-out;
  }

  &_links li:hover a {
    opacity: 1;
    filter: drop-shadow(1px 1px 2px $neonSer);
  }

  &_search,
  &_menu {
    opacity: 0.3;
    color: $neonNain;
    cursor: pointer;
    line-height: 70px;
    padding-top: 10px;
    width: 70px;
    text-align: center;
    transition: all 0.4s ease;
  }

  &_menu:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px $neonSer);
  }
  &_search:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px $neonSer);
  }

  &_menu {
    display: none;
  }

  &_searchbox {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 50px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ease;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 17px;
      color: $neonNain;
      background: $dark;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
    }

    input::-webkit-input-placeholder {
      color: $neonNain;
      opacity: 0.5;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  &_enter {
    color: $neonNain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 70px;
    padding-top: 10px;
    width: 70px;
    border: none;
    background-color: $dark;
    outline: none;
    cursor: pointer;
  }

  &_i_enter {
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
  }

  &_i_enter:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px $neonSer);
  }

  @media screen and (max-width: 1250px) {
    &_bar {
      max-width: 100%;
      padding: 0 20px;
    }

    &_container {
      margin-left: 30px;
    }

    &_links {
      margin-left: 30px;
    }

    &_links li a {
      margin: 0 5px;
    }

    &_searchbox {
      max-width: calc(100% - 100px);
    }

    &_searchbox input {
      padding: 0 100px 0 30px;
    }
  }

  @media screen and (max-width: 900px) {
    &_menu {
      display: block;
      padding: 10px 0 0;
    }

    &_links {
      display: block;
      position: fixed;
      background: $dark;
      height: 100%;
      width: 100%;
      top: 90px;
      left: -100%;
      margin-left: 0;
      max-width: 150px;
    }

    &_links li {
      margin: 15px 40px;
    }

    &_links li a {
      line-height: 40px;
      display: block;
    }
  }
}

#nav_showsearch {
  transition: all 0.3s ease;
}

.nav_searchbox {
  transition: all 0.3s ease;
}

#nav_showsearch:checked ~ .nav_searchbox {
  opacity: 1;
  pointer-events: auto;
}

#nav_showmenu:checked ~ .nav_menu {
  left: 0%;
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.7;
  }

  14% {
    opacity: 0.1;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.2;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
