@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

@import "_color";

.container {
  margin-top: 110px;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.logoimage {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.logoimage svg {
  margin-left: -700px;
  margin-top: 70px;
}

// .logoimage svg {
//   stroke: rgb(184, 126, 255);
//   stroke-width: 3;
//   stroke-dasharray: 200;
//   stroke-dashoffset: 0;
//   animation: flicker 2s linear infinite;
//   filter: drop-shadow(0 0 2px rgb(163, 16, 255));
//   fill: transparent;
//   object-fit: cover;
//   transform: rotate(30deg) skew(-25deg);
// }

.perspective-text {
  color: rgb(172, 172, 172);
  font-family: "Monoton", cursive;
  font-size: 54px;
  font-weight: lighter;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: 230px;
  margin-left: 170px;
  width: 500px;
  height: 500px;
}
.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.perspective-line-p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspective-line {
  position: relative;
}
.perspective-line:hover p {
  transform: translate(0, -50px);
}
.perspective-line:nth-child(1) {
  left: 29px;
}
.perspective-line:nth-child(2) {
  left: 58px;
}
.perspective-line:nth-child(3) {
  left: 87px;
}
.perspective-line:nth-child(4) {
  left: 116px;
}
.perspective-line:nth-child(5) {
  left: 145px;
}

.perspective-line:hover p {
  transform: translate(0, -50px);
  filter: drop-shadow(0 0 1px $neonSer);
  color: $neonNain;
  transition: all 0.2s ease-in-out;
  animation: flicker 2s linear infinite;
  text-shadow: 0 0 3px rgb(163, 16, 255);
}
p {
  transition: all 0.4s ease-in-out;
}

.subtitle {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  width: 600px;
  height: 200px;
  margin-top: 620px;
  margin-left: -800px;
  color: rgb(216, 216, 216);

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
