@import "_color";

.third-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -140px;
}

.third-image {
  margin-right: 190px;
}

.thirdtitle {
  margin-top: 210px;
  margin-left: 205px;
}

.thirdtitle h1 {
  font-family: "Monoton", cursive;
  font-size: 7rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: rgb(172, 172, 172);
  text-align: right;
  margin-top: -20px;
  animation: moving 0.5s ease-in-out infinite alternate;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: drop-shadow(0 0 1px $neonSer);
    color: $neonNain;
    transition: all 0.2s ease-in-out;
    animation: flicker 2s linear infinite;
    text-shadow: 0 0 3px rgb(163, 16, 255);
  }
}

.thirdtitle h2 {
  font-family: "Monoton", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: rgb(172, 172, 172);
  text-align: right;
  margin-right: 6px;

  &:hover {
    filter: drop-shadow(0 0 1px $neonSer);
    color: $neonNain;
    transition: all 0.2s ease-in-out;
    animation: flicker 2s linear infinite;
    text-shadow: 0 0 3px rgb(163, 16, 255);
  }
}

.thirdsubtitle {
  width: 400px;
  text-align: justify;
  margin-left: 270px;
}

.thirdsubtitle span {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: rgb(216, 216, 216);
  font-size: 24px;
}

@keyframes moving {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-0px);
  }
}

@media screen and (max-width: 1400px) {
  .third-container {
    width: 1400px;
    height: 100vh;
    margin-top: 1px;
    // border: 1px solid aqua;
  }

  .thirdtitle {
    margin-left: -50px;
    margin-top: 220px;
  }

  .thirdtitle h2 {
    font-size: 2rem;
  }
  .thirdtitle h1 {
    font-size: 6rem;
  }

  .third-image {
    margin-top: 50px;
    width: 660px;
    height: 660px;
  }
}

@media screen and (max-width: 768px) {
  .third-container {
    width: 768px;
    // border: 1px solid aqua;
    height: 30vh;
    margin-top: -530px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .thirdtitle {
    margin-top: 0px;
    margin-left: 70px;
    width: 500px;
  }
  .thirdtitle h2 {
    font-family: "Monoton", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    color: rgb(172, 172, 172);
    text-align: left;
    // border: 1px solid red;
  }
  .thirdtitle h1 {
    font-family: "Monoton", cursive;
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    color: rgb(172, 172, 172);
    text-align: left;
    animation: moving 0.5s ease-in-out infinite alternate;
    transition: all 0.2s ease-in-out;
    // border: 1px solid red;
    &:hover {
      filter: drop-shadow(0 0 1px $neonSer);
      color: $neonNain;
      transition: all 0.2s ease-in-out;
      animation: flicker 2s linear infinite;
      text-shadow: 0 0 3px rgb(163, 16, 255);
    }
  }
  .third-image {
    display: none;
  }

  .thirdsubtitle {
    // border: 1px solid aqua;
    padding: 10px;
    margin-left: 30px;
    width: 600px;
  }
  .thirdsubtitle span {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: rgb(216, 216, 216);
    font-size: 17px;
  }
}
