@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import "_color";

.friendlist__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;

  .friendlist__body__nav {
    position: absolute;

    .friendlist__name {
      width: 400px;
      padding: 0 10px;
      color: rgb(172, 172, 172);
      border-radius: 5px;
      line-height: 50px;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .name-icon {
      margin-left: 250px;
      cursor: pointer;
    }
  }
}
