$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.input_form {
  display: flex;
  border: 1px solid rgba(165, 165, 165, 0.503);
  border-radius: 10px;
  margin: 0 20px;
  padding: 6px 5px;
}

.input_input {
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  width: 100%;
  color: white;
  font-size: 1em;
  font-weight: 100;
  margin-left: 20px;
  // margin-top: 1px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.input_sendButton {
  font-family: "Monoton", cursive;
  color: $title;
  // text-shadow: 0 0 1px rgb(163, 16, 255);
  text-decoration: none;
  background: transparent;
  display: inline-block;
  border: none;
  // border: 1px solid white;
  transition: all 0.2s ease;
  padding: 0 20px;
}

.input_sendButton:hover {
  /* text-shadow: 0 0 3px rgb(163, 16, 255); */
  color: $neonMain;

  filter: drop-shadow(0 0 5px rgb(163, 16, 255));
}
