.input_form {
  display: flex;
  border-top: 1px solid rgba(169, 169, 169, 0.358);
  margin: 0 10px;
}

.input_input {
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  padding: 5%;
  width: 100%;
  color: white;
  font-size: 1em;
  font-weight: 100;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.input_sendButton {
  font-family: "Monoton", cursive;
  color: rgb(184, 126, 255);
  text-shadow: 0 0 1px rgb(163, 16, 255);
  text-decoration: none;
  background: transparent;
  display: inline-block;
  border: none;
  width: 20%;
  transition: all 0.2s ease;
}

.input_sendButton:hover {
  /* text-shadow: 0 0 3px rgb(163, 16, 255); */
  filter: drop-shadow(0 0 1px rgb(163, 16, 255));
}
