.server__list__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.big__container {
  margin: 5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.big__container::-webkit-scrollbar {
  display: none;
}
.game__list__card__container {
  display: grid;
  grid-template-columns: 550px 550px;
  grid-template-rows: auto;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
}
