.search {
  z-index: 1;
}

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.searchInputs-input {
  font-family: "Poppins", sans-serif;
  font-weight: 100;

  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 30px;
  width: 30px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon-search {
  font-size: 20px;
}

.dataResult {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  margin-top: 5px;
  width: 330px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.1 ease-in;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem-p {
  margin-left: 10px;
}
.dataItem {
  text-decoration: none;
}

.dataItem:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
  font-size: 20px;
}
