$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.guide__msg {
  display: flex;
  flex-direction: row;
  margin-top: 0.8em;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.nerdchat {
  margin-left: 5px;
  font-family: "Monoton", cursive;
  font-size: 1.4rem;
  font-weight: lighter;
  filter: drop-shadow(1px 1px 2px $neonSer);
  animation: flicker 2s linear infinite;
}
.logout__btn__container {
  margin-bottom: 0.5em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;

  .logout__btn {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding: 0.5em 1em;
    // border: black 1px solid;
    border: 1px solid $title;
    background: transparent;
    border-radius: 50px;
    color: $title;
  }
  .logout__btn:hover {
    border: 1px solid $neonMain;
    filter: drop-shadow(1px 1px 2px $neonSer);
  }
}
