@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import "_color";

%align-center {
  display: flex;
  align-items: center;
}

.nav_wrapper {
  background: $dark;
  position: fixed;
  width: 100%;
}

.nav_wrapper nav {
  @extend %align-center;
  position: relative;
  max-width: calc(100% - 500px);
  margin: 20px auto;
  height: 70px;
  justify-content: space-between;
}

nav .nav_content {
  @extend %align-center;
}

nav .nav_content .nav_links {
  margin-left: 10px;
  display: flex;
}

.nav_content .nav_logo a {
  stroke: #fff;
  stroke-width: 3;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  cursor: pointer;
  fill: transparent;
}

.nav_content .nav_links li {
  list-style: none;
}

.nav_content .nav_links li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  margin: 0 10px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.nav_content .nav_links li:hover a {
  border-bottom: 1px solid red;
}

.nav_wrapper .nav_searchIcon,
.nav_wrapper .nav_menuIcon {
  color: #fff;
  cursor: pointer;
  width: 70px;
  text-align: center;
}

.nav_wrapper .nav_menuIcon {
  display: none;
}

.nav_wrapper .nav_searchBox {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.nav_wrapper #show-search:checked ~ .nav_searchBox {
  opacity: 1;
  pointer-events: auto;
}

.nav_searchBox input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: "Dosis", sans-serif;
  background: $dark;
  color: #fff;
  text-transform: uppercase;
}

.nav_searchBox .nav_goIcon {
  color: #fff;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 70px;
  padding-top: 10px;
  width: 10px;
  border: none;
  background-color: $dark;
  outline: none;
  cursor: pointer;
}

.nav_wrapper input[type="checkbox"] {
  display: none;
}

/* drop down*/
.nav_content .nav_links ul {
  position: absolute;
  top: 80px;
  z-index: -1;
}

.nav_content .nav_links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0 !important;
}

@media screen and (max-width: 1250px) {
  .nav_wrapper nav {
    max-width: 100%;
    padding: 0 30px;
  }

  nav .nav_content .nav_links {
    margin-left: 5px;
  }

  .nav_wrapper .nav_searchBox {
    max-width: calc(100% - 100px);
  }

  .nav_wrapper .nav_searchBox input {
    padding: 0 100px 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .nav_wrapper .nav_menuIcon {
    display: block;
  }
  nav .nav_content .nav_links {
    display: block;
    position: fixed;
    background: $dark;
    height: 100%;
    width: 100%;
    top: 200px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }

  nav #show-menu:checked ~ .nav_content .nav_links {
    left: 0%;
  }

  .nav_content .nav_links li {
    margin: 10px 40px;
  }

  .nav_content .nav_links li a {
    line-height: 40px;
  }
}
