.dropdown {
  position: absolute;
  top: 110px;
  width: 300px;
  transform: translateX(-55%);
  background-color: rgb(23, 23, 23);
  border: 1px solid #4848484f;
  padding: 1rem;
  overflow: hidden;
  transition: all 1s ease-in-out;
  z-index: 2;
  box-shadow: 10px 10px 10px black;
}
