.dropdown {
  position: absolute;
  top: 120px;
  width: 200px;
  transform: translateX(-55%);
  background: rgba(77, 77, 77, 0.243);
  backdrop-filter: blur(0.5em);
  border-radius: 8px;
  overflow: hidden;
  transition: all 1s ease-in-out;
  z-index: 2;
}
