@import "_color";

.drop-menu-item {
  height: 45px;
  display: flex;
  border-bottom: 1px solid transparent;
  align-items: center;
  transition: all 0.4s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 10px;

  .drop-icon-button {
    --button-size: calc(50px * 1);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 0.5rem;
    color: rgb(172, 172, 172);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    border-bottom: 1px solid $neonNain;
  }

  .drop-game-list {
    color: rgb(172, 172, 172);
    margin-left: 10px;
  }
}
