@import "_color";

.nav-item {
  width: calc(100px * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.icon-button {
  --button-size: calc(60px * 1);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(172, 172, 172);
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.icon-button:hover {
  color: $neonNain;
  filter: drop-shadow(1px 1px 2px $neonSer);
}
.logged--icon--button {
  cursor: pointer;
  color: $neonNain;
  filter: drop-shadow(1px 1px 2px $neonSer);
}

@media screen and (max-width: 768px) {
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(60px * 3);
  }
}
