@import "_color";

.nav-item {
  // width: calc(100px * 3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.icon-button {
  --button-size: calc(60px * 1);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(172, 172, 172);
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.icon-button:hover {
  color: $neonNain;
  filter: drop-shadow(1px 1px 2px $neonSer);
}
.logged--icon--button {
  cursor: pointer;
  color: $neonNain;
  filter: drop-shadow(1px 1px 2px $neonSer);
}

.toggle-btn {
  color: rgb(172, 172, 172);
  display: none;
}
//모바일
@media screen and (max-width: 768px) {
  .menu__container {
    position: relative;
  }
  .toggle-btn {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      color: $neonNain;
    }
  }
  .nav-item {
    display: none;
    width: 100%;
    &.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 2rem;
      right: 0;
      z-index: 999;
      .icon-button {
        display: none;
        width: 100%;
        &.open {
          display: inline-flex;
          padding: 0;
          list-style: none;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  // .nav-item {
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   justify-content: center;
  //   gap: 3rem;

  //   .toggle-btn {
  //     display: block;
  //     cursor: pointer;
  //   }
  //   .icon-button {
  //     display: none;
  //     &.open {
  //       display: block;
  //     }
  //   }
  // }
}
