.chatheader__container {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  align-items: center;

  .chatheader__container-start {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 20px;
  }

  .iconback {
    color: rgb(172, 172, 172);
    align-items: center;
  }

  .chatheader__icon {
    margin: 0 10px;
    color: rgb(172, 172, 172);
    margin-top: 7px;
  }
  .chatheader__title {
    margin: 0 30px;
    color: rgb(172, 172, 172);
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
  }

  .chatheader__title span {
    font-weight: 100;
    font-size: 20px;
  }
  .chatheader__mic {
    flex: 1;
    color: rgb(172, 172, 172);
    margin-top: 7px;
  }

  .chatheader__nember {
    margin-right: 30px;
    color: rgb(172, 172, 172);
  }
  .chatheader__nember span {
    font-size: 15px;
  }
}
