$dark: rgb(23, 23, 23);
$neonNain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
.modal__tab__container{
    // position: relative;
            img{
            position: absolute;
            width: 50px;
            // margin-right: 1em;
        }
    .tab__header{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: white;
            margin-right: 2px;
            position: relative;
            text-shadow: -3px 0.7px rgba(119, 0, 255, 0.536);
        }

        // span::after {
        //     content: '';
        //     left: -1px;
        //     text-shadow: -2px 0 rgba(255, 0, 242, 0.618);
        // }
    }
}

.modal__tab{
    margin-top: 1em ;
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;
    div{
        font-weight: bold;
        position: relative;
    }
    .modal__tab__options{
        cursor: pointer;
        font-size: 13px;
    }
    .clicked__tab {
        cursor: pointer;
        color: $neonSer;
        font-size: 13px;
    }
    .clicked__tab::after {
        content: "";
        position: absolute;
        /* inset: 0; */
        width: 100%;
        top: 22px;
        left: 0px;
        border-bottom: $neonSer solid 2px;
    }
    
}
.modal__tab__split {
    height: 1px;
    border-top: 0.1px solid #37373a;
}