$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);

$title: rgb(172, 172, 172);

.errMsg {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  color: rgb(223, 36, 36);
}
.email__code__container,
.verify__email__container {
  margin-top: 0.2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  input {
    height: 28px;
    flex: 1 1 auto;
    outline: none;
    background: transparent;
    margin-bottom: 3px;
    box-shadow: none;
    border-style: none none solid none;
    width: 100%;
    color: $title;
    transition: all 0.5s;
  }
  input:focus {
    outline: none;
  }
  button {
    min-width: 80px;
  }
  // .email__code__btn{
  //   flex: 1 1 auto;
  //   // width: 100px;
  // }
}

.contract {
  // font-family: "GmarketSansLight";
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  opacity: 70%;
  color: $title;
  margin: 0 50px;
}
.signUpBtn,
.verify__email__btn,
.email__code__btn {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $title;
  border: 1px solid $title;
  background-color: transparent;
  border-radius: 50px;
  padding: 8px;
  margin: 0 auto;
  font-size: 11px;
}
.signUpBtn:hover,
.verify__email__btn:hover,
.email__code__btn:hover {
  border: 1px solid $neonMain;
  filter: drop-shadow(1px 1px 2px $neonSer);
}
// .signUpBtn:active,
// .verify__email__btn:active,
// .email__code__btn:active {
//   transform: scale(0.99);
// }
.disabledBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $title;
  border: 1px solid $title;
  background-color: transparent;
  border-radius: 50px;
  padding: 8px;
  margin: 17px auto 0px;
  font-size: 14px;
}
