@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: rgb(23, 23, 23);
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

input:focus,
select:focus,
option:focus,
div:focus,
textarea:focus,
button:focus {
  outline: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
