$dark: rgb(23, 23, 23);
$neonMain: rgb(184, 126, 255);
$neonSer: rgb(163, 16, 255);
$title: rgb(172, 172, 172);

.pinput_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.pinput_input {
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  width: 100%;
  color: rgba(255, 255, 255, 0.797);
  font-size: 1em;
  font-weight: 100;
  padding: 10px 30px;

  border: 1px solid $title;
  border-radius: 50px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.pinput_sendButton {
  font-family: "Monoton", cursive;
  color: $title;
  text-decoration: none;
  background: transparent;
  display: inline-block;
  border: none;
  transition: all 0.2s ease;
  padding: 10px 10px;
  margin-left: 20px;
}

.pinput_sendButton:hover {
  color: $neonMain;

  filter: drop-shadow(0 0 5px rgb(163, 16, 255));
}
