@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "_color";

* {
  margin: 0;
  padding: 0;
}

[type="radio"] {
  display: none;
}

body {
  user-select: none;
}

.slider-container {
  height: 40em;
}

#slider {
  top: 30px;
  height: 23vw;
  position: relative;
  perspective: 600px;
  transform-style: preserve-3d;

  label {
    margin: auto;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  #s1:checked ~ #slide4,
  #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
  #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
  }

  #s1:checked ~ #slide5,
  #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
  #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }

  #s1:checked ~ #slide1,
  #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
  #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3),
      0 11px 7px 0 rgba(0, 0, 0, 0.17);
    transform: translate3d(0, 0, 0);
  }

  #s1:checked ~ #slide2,
  #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
  #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }

  #s1:checked ~ #slide3,
  #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
  #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
  }

  .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    .card-text {
      color: rgba(255, 255, 255, 0.865);
      position: absolute;
      width: 500px;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
      font-family: "Rajdhani", sans-serif;
      font-weight: lighter;
      font-size: 25px;
      letter-spacing: 1px;
    }

    .card-text h3 {
      font-weight: normal;
    }

    .card-text h4 {
      font-weight: lighter;
    }

    .iconsize {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card::before {
    position: absolute;
    content: "";
    width: 60rem;
    height: 90rem;
    background: rgba(0, 0, 0, 0.68);
    left: 5%;
    top: -80px;
    transform: rotate(25deg);
    transform-origin: center top 10;
  }

  #slide1 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 0.6);
    overflow: hidden;
    backdrop-filter: blur(5px);
  }
  #slide2 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 0.6);
    overflow: hidden;
  }
  #slide3 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 0.6);
    overflow: hidden;
  }
  #slide4 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 0.6);
    overflow: hidden;
  }
  #slide5 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(30, 30, 30, 0.6);
    overflow: hidden;
  }
}
